<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div id="myModal1">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="display: inline-flex;">Add Data</h4>

                <button type="button" style="border:none; float: right;" ng-click="closepopup()">X</button>
            </div>
            <div class="modal-body">
                <div class="for_inline">TITLE<br /><input type="text" ng-model="MyPage.Title" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"
                    ng-click="closepopup()">Close</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal"
                    ng-click="addData($scope.itemid)">Save</button>
            </div>

        </div>
    </div>
</div>